@charset "UTF-8";

body, body * {
	vertical-align: baseline;
	border: 0;
	outline: 0;
	padding: 0;
	margin: 0;
}

.container_dc{
	
}

.floater_dc{
	display: none;
	width: 400px;
	height: 400px;
	box-sizing: border-box;
	border: solid 1px #666666;
	background-image: url('background_400x400.jpg');
	background-repeat: no-repeat;
}

.logo_dc{
	top: 5px;
	left: 5px;
	position: absolute;
}

.background_ext_dc{
	width: 400px;
	height: 400px;
	top: 0px;
	left: 0px;
	cursor: pointer;
	position: absolute;
	opacity: 0;
}

.close_btn_dc{
	width: 20px;
	height: 18px;
	top: 5px;
	left: 375px;
	cursor: pointer;
	position: absolute;
	background-image: url('close.png');
	background-repeat: no-repeat;
	z-index: 220;
}

#video1{
	position: absolute;
	width: 350px;
	height: 197px;
	top: 62px;
	left: 25px;
	background-color: #FFF;
	border: 1px solid #666666;
	z-index: 200;
}