body {
    margin: 0px;
    padding: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
}
img,
div {
    position: absolute;
    box-sizing: border-box;
}
img {
    visibility: hidden;
}
#bannerContainer {
    width: 728px;
    height: 90px;
    display: block;
    overflow: hidden;
    background: #0474af;
}
#clickthrough {
    background: rgba(0, 0, 0, 0);
    cursor: pointer;
    width: 100%;
    height: 100%;
    border: 1px solid #aa0785;
}

/*banner elements */

#bg1,
#bg2 {
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}
#bg1 {
    background: #0474af;
    background: -webkit-linear-gradient(#0474af, #aad5ea);
    background: linear-gradient(#0474af, #aad5ea);
}
#bg2 {
    background: #381c82;
    background: -webkit-linear-gradient(#381c82, #2d4698);
    background: linear-gradient(#381c82, #2d4698);
    visibility: hidden;
}
#bats1 {
    left: 0px;
    top: 0px;
    opacity: 0.7;
}

#title1 {
    left: 64px;
    top: 13px;
}
#char1 {
    left: 572px;
    bottom: -30px;
}
#char2 {
    left: 418px;
    bottom: -30px;
}
#char3 {
    left: 557px;
    bottom: -5px;
}
#char4 {
    left: 510px;
    bottom: -30px;
}
#char5 {
    left: 454px;
    bottom: -30px;
}
#char6 {
    left: 569px;
    bottom: -30px;
}
#char7 {
    left: 432px;
    bottom: -30px;
}
#slime {
    left: 617px;
    bottom: -30px;
}
#quote {
    left: 94px;
    top: 14px;
}
#title2 {
    left: 19px;
    top: 19px;
    width:237px;
}
#cta {
    left: 274px;
    top: 19px;
}
#google {
    left: 469px;
    top: 25px;
}
#legals {
    right: 3px;
    bottom: 3px;
}
