body {
    margin: 0px;
    padding: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
}
img,
div {
    position: absolute;
    box-sizing: border-box;
}
img {
    visibility: hidden;
}
#bannerContainer {
    width: 300px;
    height: 250px;
    display: block;
    overflow: hidden;
    background: #0474af;
}
#clickthrough {
    background: rgba(0, 0, 0, 0);
    cursor: pointer;
    width: 100%;
    height: 100%;
    border: 1px solid #aa0785;
}

/*banner elements */

#bg1,
#bg2 {
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}
#bg1 {
    background: #0474af;
    background: -webkit-linear-gradient(#0474af, #aad5ea);
    background: linear-gradient(#0474af, #aad5ea);
}
#bg2 {
    background: #381c82;
    background: -webkit-linear-gradient(#381c82, #2d4698);
    background: linear-gradient(#381c82, #2d4698);
    visibility: hidden;
}
#bats1 {
    left: 0px;
    top: 0px;
    opacity: 0.7;
}

#title1 {
    left: 20px;
    top: 10px;
}

#char1 {
    left: 196px;
    top: 73px;
}
#char2 {
    left: 0px;
    bottom: -30px;
}
#char3 {
    left: 182px;
    top: 75px;
}
#char4 {
    left: 110px;
    bottom: -30px;
}
#char5 {
    left: 7px;
    bottom: -30px;
}
#char6 {
    right: 7px;
    bottom: -30px;
}
#char7 {
    left: 17px;
    bottom: -30px;
}
#slime {
    right: 0px;
    bottom: -30px;
}
#quote {
    left: 10px;
    top: 56px;
}
#title2 {
    left: 20px;
    top: 10px;
}
#packs {
    left: 10px;
    top: 76px;
}
#cta {
    right: 10px;
    top: 97px;
}
#legals {
    right: 5px;
    bottom: 5px;
}
